{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <div class="footer-section">
                <h4><i class="fas fa-camera-retro"></i> VisualHD</h4>
            </div>
            <p>&copy; 2026 VisualHD - Estudio fotográfico</p>
            <div class="footer-legal">
                <a href="#">Términos</a>
                <a href="#">Privacidad</a>
                <a href="#">Licencia</a>
            </div>
        </div>
    </div>
</footer>
